_build/
_static/
_templates/
tempfiles/
.jrc/
__pycache__/
.pytest_cache/
doc2vec.model
tfidf-2.joblib
tfidf-3.joblib
ignore/
classifier_models/

embedding_models/doc2vec.model
embedding_models/tfidf-3.joblib
embedding_models/pmids.txt